footer.footer-top 
  .footer-top__container 
    .footer-top__columns
      .footer-top__column
        h4.footer-top__title Services
        ul.footer-top__list
          li
            a(href="") Budget Tours
          li
            a(href="") Expert Insight
          li
            a(href="") Independent
          li
            a(href="") Luxury Tours
          li
            a(href="") Safety Tips
          li
            a(href="") Tips n Tricks

      .footer-top__column
        h4.footer-top__title Adventures
        ul.footer-top__list
          li
            a(href="") Beach Activity
          li
            a(href="") Bungee Jump
          li
            a(href="") City Tour
          li
            a(href="") Hiking Trips
          li
            a(href="") Jungle Safari
          li
            a(href="") Night City Walk

      .footer-top__column
        h4.footer-top__title Country
        ul.footer-top__list
          li
            a(href="") USA
          li
            a(href="") Australia
          li
            a(href="") South Africa
          li
            a(href="") West Indies
          li
            a(href="") New Zealand
          li
            a(href="") Srilanka
    .footer-top__contact
      .footer-top__contact-title Get In Touch
      .footer-top__text Let’s Talk 
      form.subscribe-form.footer-top__form(action="#" method="post")
        img.subscribe-form__icon(src="assets/icons/envelope.png" alt="email icon")
        input.subscribe-form__input(type="email" placeholder="Enter your email" required)
        button.subscribe-form__btn(type="submit") Send Now!

.footer-bottom
  .footer-bottom__text
    .footer-bottom__privacy Privacy Policy
    .footer-bottom__socials VK &nbsp;/ &nbsp;Telegram
  .footer-bottom__legal
    .footer-bottom__copyright 2016-2021 © Emprise
    img(src="assets/img/payment-logo.png", alt="").footer-bottom__payment-logos

