@use "../base/variables" as *;

.hero {
  position: relative;
  padding-top: 56px;
}

.hero__background img {
  position: absolute;
  z-index: -1;
  filter: brightness(0.6);
}

.section-title {
  position: relative;
  padding-left: 40px;
}

.section-title::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  bottom: 50%;
  left: 0;
  background-color: $color-white;
}

.hero__title {
  font-weight: 700;
  font-size: 128px;
  color: $color-white;
  margin-top: 10px;
  letter-spacing: -2.56px;
}

.hero__content {
  color: $color-white;
  padding-top: 108px;
  padding-left: 136px;
  padding-right: 83px;
}

.hero__info {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
}

.hero__payment {
  position: relative;
  max-width: 350px;
}

.hero__payment-text {
  margin-bottom: 7px;
  color: $color-white;
}

.hero__payment::before {
  content: "";
  position: absolute;
  left: -25%;
  top: 30%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  background: url("../assets/icons/cards.png");
}

.hero__payment a {
  text-decoration: underline;
}

.hero__payment-link {
  font-weight: 700;
  color: $color-white;
}

.hero__arrows {
  padding-top: 33px;
}

.hero-glide {
  overflow: hidden;

  &.glide {
    position: relative;

    .glide__track {
      overflow: hidden;
    }

    .glide__slides {
      display: flex;
      margin: 0;
      padding: 0;
    }

    .glide__slide {
      width: 100%;
      flex-shrink: 0;
      min-height: 646px;
    }

    .hero__arrow {
      cursor: pointer;
    }

    .glide__arrows {
      display: flex;
      justify-content: center;
      transform: translateX(-21%);
      margin-top: 57px;
    }

    .glide__arrow {
      border: none;
      cursor: pointer;
    }

    .glide__arrow--right {
      right: 3em;
    }
  }

}