.partners {
  padding-top: 134px;
  text-align: center;
  padding-left: 30px;
}

.partners__list {
  display: flex;
  margin-left: 59px;
}

.partners__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}