@use "variables" as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.64px
}

a {
  color: $color-heading;

}

a:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
}

p {
  font-size: 24px;
  font-weight: 400;
  color: $color-primary;
}