$color-heading:#1D293F;
$color-primary:#546179;
$color-primary-ligth:#99A3AD;
$color-accent:#28B0A6;
$color-white: #ffffff;
$color-black: #000000;

$font-family-base: 'Poppins', sans-serif;
$font-size-base: 24px;
$line-height-base: 1.5;