section.about-us
  .about-us__container
    h1.about-us__header Kilimanjaro &#38; Safari adventure
      br
      |tour packages in Tanzania.
    p.about-us__description Timber Wolf Adventure is a Tanzanian based Tour Operator located in Arusha. We specialize in both Treks and Safari to all Tanzania destinations and we offer you the unique opportunity to climb Mt. Kilimanjaro and to explore the African plains with an experienced native team that offers top quality large tour operator service and safety at local tour operator prices.
