section.contacts 
  h3.contacts__header Still have a question?
  .contacts__text The Brilliant reasons Entrada should be your one-stop-shop!
  .contacts__container
    .contact
      img(src="assets/img/contacts-bg.png", alt="").contacts__bg
      .contact__container
        img(src="assets/icons/headset.png", alt="").contact__img
        h4.contact__header For Sales 
        .contact__text The Brilliant reasons Entrada be your one-stop-shop!
        .contact__bottom 
          .contact__email sales@entrada.com
          .contact__number +977(985) 456-32-12

    .contact
      .contact__container
        img(src="assets/icons/help.png", alt="").contact__img
        h4.contact__header Help &#38; Support
        .contact__text The Brilliant reasons Entrada be your one-stop-shop!
        .contact__bottom 
          .contact__email help@entrada.com
          .contact__number +977(985) 456-32-12

  