section.cta
  .cta__bg
    img(src="/assets/img/cta-bg.png", alt="")
    .cta__information
      h3.cta__title 
        |Tour the World from Your Couch with
        br
        |#ExperienceLive!
      p.cta__description To kickstart your digital adventures with Entrada
      a(href="#").cta__btn Check All