section.hero
  div.hero__background
    img(src="assets/img/hero-bg.png", alt="")
    .hero__content
      div.section-title The Mountain Ranges
      h1.hero__title Kilimanjaro
      .hero__info 
        .hero__weather -02° C Very Cold
          .hero__arrows
              button.hero__arrow.hero__arrow--prev 
              button.hero__arrow.hero__arrow--next 
        .hero__payment
          p.hero__payment-text We Accept Payment Through All Cards &#38; Banking
          a.hero__payment-link(href="#") Book Now!