section.partners
  h2.sr-only Our Partners
  ul.partners__list
    li
      picture
        source(media="(max-width: 767px)" srcset="assets/img/1.png")
        img(src="assets/img/partners1.png", alt="").partners__img
    li
      picture
        source(media="(max-width: 767px)" srcset="assets/img/2.png")
        img(src="assets/img/partners2.png", alt="").partners__img
    li
      picture
        source(media="(max-width: 767px)" srcset="assets/img/3.png")
        img(src="assets/img/partners3.png", alt="").partners__img
    li
      picture
        source(media="(max-width: 767px)" srcset="assets/img/4.png")
        img(src="assets/img/partners4.png", alt="").partners__img
    li
      picture
        source(media="(max-width: 767px)" srcset="assets/img/5.png")
        img(src="assets/img/partners5.png", alt="").partners__img
    li
      picture
        source(media="(max-width: 767px)" srcset="assets/img/6.png")
        img(src="assets/img/partners6.png", alt="").partners__img

