section.partners
  h2.sr-only Our Partners
  ul.partners__list
    li
      img(src="assets/img/partners1.png", alt="").partners__img
    li
      img(src="assets/img/partners2.png", alt="").partners__img
    li
      img(src="assets/img/partners3.png", alt="").partners__img
    li
      img(src="assets/img/partners4.png", alt="").partners__img
    li
      img(src="assets/img/partners5.png", alt="").partners__img
    li
      img(src="assets/img/partners6.png", alt="").partners__img

