section.subscribe
  .subscribe__container
    img(src="assets/img/subscribe-dots.png", alt="").subscribe__bg
    .subscribe__images
      img.subscribe__img.subscribe__img--big(src="assets/img/subscribe-1.png" alt="Subscribe photo 1")
      img.subscribe__img.subscribe__img--small(src="assets/img/subscribe-2.png" alt="Subscribe photo 2")
      img.subscribe__img.subscribe__img--small(src="assets/img/subscribe-3.png" alt="Subscribe photo 3")
    .subscribe__content
      .subscribe__title Subscribe For Offers
      h3.subscribe__header Adventures Calling You Guys!
      p.subscribe__text The Brilliant reasons Entrada should be your one-stop-shop!
      form.subscribe-form(action="#" method="post")
        img.subscribe-form__icon(src="assets/icons/envelope.png" alt="email icon")
        input.subscribe-form__input(type="email" placeholder="Enter your email" required)
        button.subscribe-form__btn(type="submit") Send Now!
      .subscribe__reply-info Expect a reply in 2-3 working days