extends ../layouts/base

block content

  include ../components/hero
  include ../components/booking
  include ../components/about-us
  include ../components/tours
  include ../components/guides
  include ../components/cta

